# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Build files
build/
dist/

# PyInstaller
*.spec

# Logs
logs/

# Output videos
output/

# Configuration
config.json

# macOS
.DS_Store

# Windows
Thumbs.db